header{
	nav{
		> div{
          .navbar-header{
          	background: salmon;
          	button{}
          	a{
          		width: 100px;
          		img{
          			width: 100%;
          		}
          	}
          }        
		}
	}
}